<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content" data-bind="with:nuevaSolicitud">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Soliciud</h4>
                </div>
                <div class="modal-body">
                    <div class="row" data-bind="with:paciente">
                         <div class="col-md-3">
                            <div class="input-group" >
                                <span class="input-group-addon" id="basic-addon2">NHC</span>
                                <input type="text" class="form-control"  placeholder="codigo" data-bind="textInput:nhc">
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="input-group" >
                                <span class="input-group-addon" id="basic-addon2">Nasi</span>
                                <input type="text" class="form-control"  placeholder="codigo" data-bind="textInput:nasi">
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="input-group" >
                                <span class="input-group-addon" id="basic-addon2">Nombre</span>
                                <input type="text" class="form-control"  placeholder="codigo" data-bind="textInput:nombe">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group" >
                                <span class="input-group-addon" id="basic-addon2">Codigo</span>
                                <input type="text" class="form-control"  placeholder="codigo" data-bind="textInput:codigo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">Nombre</span>
                                <input type="text" class="form-control" placeholder="Nombre" data-bind="textInput:nombre">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">Duracion:</span>
                                <select class="form-control" data-bind="">
                                    <option value="20"> 20 min</option>
                                    <option value="30"> 30 min</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: function(){add()}">Save changes</button>
                </div>
            </div>
        </div>
    </div>